<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.iespuertodelacruz.dam.gtdnow">

    <application
        android:name=".application.GTDNow"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SelectorProjectActivity"></activity>
        <activity android:name=".activity.SelectorPlaceActivity" />
        <activity android:name=".activity.DisplayerTaskFromProjectActivity" />
        <activity android:name=".activity.DisplayerTaskFromPlaceActivity" />
        <activity android:name=".activity.DisplayerTaskFromGroupActivity" />
        <activity android:name=".activity.SelectorTaskFromProjectActivity" />
        <activity android:name=".activity.SelectorTaskFromGroupActivity" />
        <activity android:name=".activity.SelectorTaskFromPlaceActivity" />
        <activity android:name=".activity.SelectorTaskActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DisplayerTaskActivity" />
        <activity android:name=".activity.DisplayerProjectActivity" />
        <activity android:name=".activity.DisplayerPlaceActivity" />
        <activity android:name=".activity.DisplayerNoteActivity" />
        <activity android:name=".activity.DisplayerGroupActivity" />
        <activity
            android:name=".activity.EditProjectActivity"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog" />
        <activity
            android:name=".activity.EditTaskActivity"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog" />
    </application>

</manifest>