<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.iespuertodelacruz.dam.gtdnow">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".application.GTDNow"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <receiver android:name=".utility.ReminderReceiver"/>

        <activity android:name=".activity.SelectorProjectActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SelectorPlaceActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.DisplayerTaskFromProjectActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.DisplayerTaskFromPlaceActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.DisplayerTaskFromGroupActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SelectorTaskFromProjectActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SelectorTaskFromGroupActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SelectorTaskFromPlaceActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.SelectorTaskActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.DisplayerTaskActivity" android:theme="@style/AppTheme.NoActionBar">


        </activity>
        <activity android:name=".activity.DisplayerProjectActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.DisplayerPlaceActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.DisplayerNoteActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".activity.DisplayerGroupActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.EditProjectActivity"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog" />
        <activity
            android:name=".activity.EditTaskActivity"
            android:theme="@style/Theme.MaterialComponents.Light.Dialog" />

    </application>

</manifest>